

#Todolist{
  background-image: url(2.jpg);
 
  height: 300px;
}






#ul{

list-style-type:none;
}

li{
   border-bottom: 1px  solid#D5D8DC;
  
   margin-left:-31px;
   line-height: 35px;
   word-wrap:break-word;
   cursor: pointer;
  
  
   
   
   
  
  

}

.bi{
  float: right;
  margin-right:20px;
  
  

  }





  #radioss{
    float:left;
    margin-left:10px;
    margin-right: 25px;
    margin-top:10px;
    
  }

.textebarre{
  text-decoration: line-through;
}

.textsansdecoration{
  text-decoration: none;
}


